body {
    background: url(../images/答卷背景.jpg) no-repeat center;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
}

.header {
    height: 59px;
    width: 500px;
    margin: 10px auto;
    margin-top: 35px;
    /* background-color: pink; */
    color: #113f3d;
    font-size: 50px;
    /* line-height: 80px; */
    text-align: center;
    /* 15px;*/
}

.defen {
    width: 130px;
    height: 25px;
    padding: 2px 5px;
    margin: 5px auto;
    margin-right: 280px;
    font-size: 20px;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.score {
    color: #f05f53;
    font-weight: 700;
    /* background-color: purple; */
}


/* 表格 */

.sheet {
    /* width: 630px; */
    width: 690px;
    margin: 5px auto;
    padding: 10px 35px;
    background-color: rgba(255, 255, 255, 0.5)
}

td {
    color: #113f3d;
    height: 50px;
}


/* 题目 */

.td_issue {
    /* width: 200px; */
    height: 30px;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px
}


/* 表格内文字 */

.word,
.r_word {
    /* width: 78px; */
    width: 120px;
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

.r_word {
    color: #20ad75;
}

.jianxi {
    width: 30px;
}


/* 答案 */

.aa,
.r_aa {
    width: 70px;
    font-size: 18px;
    text-align: right;
}

.r_aa {
    color: #20ad75;
}

.td_judge {
    width: 13px;
}

.jump {
    width: 480px;
    height: 34px;
    margin: 30px auto;
    /* background-color: pink; */
    /* text-align: center; */
}

.btn_1,
.btn_2 {
    display: inline-block;
    width: 170px;
    height: 34px;
    line-height: 23px;
    border: #83af9b;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    color: #113f3d;
    background-color: #83af9b;
    font-weight: 600;
    letter-spacing: 10px
}

.btn_1 {
    float: left;
}

.btn_2 {
    float: right;
}

.result {
    /*font-family: 'icomoon';*/
    color: #00b89d;
    font-size: 20px;

}
