body {
    background: url(../images/绿色调.jpg) no-repeat center;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
}

.select {
    position: fixed;
    top: 30px;
    right: 70px;
    width: 80px;
    height: 20px;
    outline: none;
}

.title {
    /* margin: 100px 325px; */
    margin: auto;
    margin-top: 90px;
    width: 730px;
    height: 102px;
    /* background-color: pink; */
}

.model1,
.model2,
.model3,
.model4,
.model5 {
    display: block;
    margin: auto;
    width: 330px;
    height: 42px;
    border: 1px solid #83af9b;
    border-radius: 20px;
    background-color: #83af9b;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #113f3d;
    line-height: 42px;
    /* font-family:; */
}

.model1 {
    margin-top: 111px;
}

.model2,
.model3,
.model4,
.model5 {
    margin-top: 30px;
}